:root {
  --blue: #61dafb;
  --dark-blue: #1976d2;
  --black: #414244;
  --light-gray: #f5f5f5;
}

*:hover,
*:active,
*:focus {
  outline: none;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app-header {
  color: var(--black);
  text-align: center;
}

.app-container {
  width: 80%;
  margin: 0 auto;
  border-radius: 0.5rem;
  border: 1px solid var(--black);
  -webkit-box-shadow: 2px 2px 0.5rem var(--black);
          box-shadow: 2px 2px 0.5rem var(--black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5rem;
  padding: 1rem;
  background-color: var(--black);
}

.wizard {
  width: 100%;
}
/*# sourceMappingURL=base.css.map */