.dropdownFormContainer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

//used flex and align items to make the button properly centered

.element1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 50%;

    @media(max-width:600px) {
        width: 100%;
        margin-bottom: 0;
    }
}

//After the breakpoint of 600 set the width such that it looks like the picture
.element2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 50%;

    @media(max-width:600px) {
        width: 75%;
    }
}

.element3 {
    margin-top: 1rem;
    width: 100%;

    @media(max-width:600px) {
        width: 25%;
    }
}