.dropdownFormContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.element1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 50%;
}

@media (max-width: 600px) {
  .element1 {
    width: 100%;
    margin-bottom: 0;
  }
}

.element2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 50%;
}

@media (max-width: 600px) {
  .element2 {
    width: 75%;
  }
}

.element3 {
  margin-top: 1rem;
  width: 100%;
}

@media (max-width: 600px) {
  .element3 {
    width: 25%;
  }
}
/*# sourceMappingURL=BasicInfo.css.map */