.score-calculator {
  text-align: center;
}

.score-calculator h2 {
  font-size: 2rem;
  color: red;
}

.score-calculator p {
  font-size: 1.2rem;
}

.stats {
  width: 33%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.stats-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stats-key, .stats-score, .stats-modifier {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #d6d6d6;
  color: #444;
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #eee;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.react-sanfona-item-title {
  color: #444;
}

.NameRaceClass {
  text-align: center;
  font-size: 2rem;
}

.LanguageProficienciesList {
  padding: 5px;
  list-style-type: decimal;
}
/*# sourceMappingURL=stats.css.map */